################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/book-manager-application/.vs
