@model MiddleTier.Users;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:20vh">
    <div class="text-left">
        <h1 class="display-4">Login</h1>
        
        <div style="width:350px; padding-top:50px">
            <form asp-action="Login" style="color: black;padding-left:25px">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <input asp-for="user" type="text" style="border: none; background: #EFEFEF; box-shadow: none; font-weight:600 " class="form-control" id="UserName" placeholder="Username" value=""></input>

                </div>
                <div style="padding-top:20px">
                    <input asp-for="password" type="password" style="border: none; background: #EFEFEF; box-shadow: none; font-weight:600 " class="form-control" id="PassWord" placeholder="Password" value=""></input>

                </div>
                <button style="margin-top: 30px; width: 100px; height: 40px; background-color: #007ACC; border: none; box-shadow: none; font-weight: bold" type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>

        
    </div>
